<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md bg-primary fixed-top">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="/"><img width="70px" height="40px" th:src="@{/images/logo.jpg}"/></a>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="locadorDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Locador
                </a>
                <div class="dropdown-menu" aria-labelledby="locadorDropdown">
                    <a class="dropdown-item" th:href="@{/locador/cadastro}">Cadastro Locador</a>
                    <a class="dropdown-item" th:href="@{/locador/locadores}">Lista de Locadores</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="produtoDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Produto
                </a>
                <div class="dropdown-menu" aria-labelledby="produtoDropdown">
                    <a class="dropdown-item" th:href="@{/produto/cadastro}">Cadastro Produto</a>
                    <a class="dropdown-item" th:href="@{/produto/produtos}">Lista de Produtos</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="categoriaDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Categoria
                </a>
                <div class="dropdown-menu" aria-labelledby="categoriaDropdown">
                    <a class="dropdown-item" th:href="@{/categoria/cadastro}">Cadastro Categoria</a>
                    <a class="dropdown-item" th:href="@{/categoria/categorias}">Lista de Categorias</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="empresaDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Empresa
                </a>
                <div class="dropdown-menu" aria-labelledby="empresaDropdown">
                    <a class="dropdown-item" th:href="@{/empresa/cadastro}">Cadastro Empresa</a>
                    <a class="dropdown-item" th:href="@{/empresa/empresas}">Lista de Empresas</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="locatarioDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Locatário
                </a>
                <div class="dropdown-menu" aria-labelledby="locatarioDropdown">
                    <a class="dropdown-item" th:href="@{/locatario/cadastro}">Cadastro Locatários</a>
                    <a class="dropdown-item" th:href="@{/locatario/locatarios}">Lista de Locatários</a>
                </div>
            </li>
        </ul>
        <div>
            <a th:if="${session.isEmpty()}" th:href="@{/login}" method="get">
                <input class="btn btn-outline-light" type="button" value="Login"/>
            </a>
            <form th:if="${!session.isEmpty()}" method="POST" th:action="@{/logout}">
                <a>
                    <input class="btn btn-outline-light" type="submit" value="Logout"/>
                </a>
            </form>
        </div>
    </nav>
</div>