<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">nome
<body>
<section layout:fragment="body">
    <div class="card">
        <div class="card-header">
            <h2><i>Cadastro de Locatário</i></h2>
        </div>
        <div class="card-body">
            <div class="row" style="margin-top:20px">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form th:action="@{/locatario/cadastrar}" method="post">
                        <fieldset>
                            <div th:if="${messages} != null" th:class="${'alert alert-' + messages.tipo }">
                                <i th:text="${messages.texto}"></i>
                            </div>

                            <div class="form-group">
                                <label for="nome">Nome Completo</label>
                                <input type="text" name="nome" id="nome" class="form-control input-lg"
                                       placeholder="Nome" required="true"/>
                            </div>

                            <div class="form-group">
                                <label for="senha">Senha</label>
                                <input type="password" name="senha" id="senha" class="form-control input-lg"
                                       placeholder="Senha" required="true"/>
                            </div>

                            <div class="form-group">
                                <label for="email">E-Mail</label>
                                <input type="email" name="email" id="email" class="form-control input-lg"
                                       placeholder="Nome" required="true"/>
                            </div>

                            <div class="form-group">
                                <label for="cpf">CPF</label>
                                <input type="" name="cpf" id="cpf" class="form-control input-lg"
                                       placeholder="CPF" required="true"/>
                            </div>

                            <div class="form-group">
                                <label for="telefone">Telefone</label>
                                <input type="" name="telefone" id="telefone" class="form-control input-lg"
                                       placeholder="Telefone" required="true"/>
                            </div>

                            <div class="form-group">
                                <label for="enderecos">Endereços</label>
                                <input type="text" name="enderecos" id="enderecos" class="form-control input-lg"
                                       placeholder="Endereços" required="true"/>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <input type="submit" class="btn btn-lg btn-primary btn-block"
                                           value="Cadastrar Locatario"/>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                </div>
                            </div>
                            <br>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>